body {
    font-size: 14px;
    margin: 0 10px 0 10px; /* Supprime la marge supérieure */
    padding: 0; 
    max-width: calc(100vw - 20px); /* Assure que le body occupe la largeur de la fenêtre moins les marges */
    min-height: 100vh;
    overflow-x: hidden; /* Évite le défilement horizontal */
}

/* header */

header {
    border: solid 1px rgb(192, 20, 63);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(201, 197, 183);
    padding: 10px 20px;
    max-width: 1200px; 
    margin: 20px auto; /* Centre le header avec un espacement en haut et en bas */
}

.nom-header {
    text-align: center;
    font-size: 1.5em;
}

header a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: rgb(192, 20, 63); /* Couleur des liens dans le footer */
    transition: color 0.3s; /* Animation de changement de couleur */
}

header a:hover {
    color: #007BFF; /* Couleur des liens au survol */
}

.logo-container {
    display: flex;
    align-items: center; /* Centrer verticalement le logo */
}

.logo {
    height: 80px; 
    background: linear-gradient(50deg, rgb(192, 20, 63), rgb(211, 155, 35), rgb(184, 202, 17));
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


/* footer*/

footer {
    background-color: rgb(201, 197, 183);
    padding: 10px 20px;
    border-top: solid 1px rgb(192, 20, 63);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10; /* Priorité plus élevée pour le garder au-dessus */
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.social-links, .footer-info {
    list-style-type: none; /* Enlever les puces des listes */
    padding: 0; 
    margin: 0; 
}

.social-links li, .footer-info li {
    font-size: medium;
    margin-right: 40px; /* Espacement entre les éléments de la liste */
}

footer a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: rgb(192, 20, 63); /* Couleur des liens dans le footer */
    transition: color 0.3s; /* Animation de changement de couleur */
}

footer a:hover {
    color: #007BFF; /* Couleur des liens au survol */
}




/* responsive*/

/* Classe pour les écrans mobiles (jusqu'à 480px) */
@media (max-width: 480px) {
    body.mobile-screen {
        font-size: 16px;
        background-color: #188fbe;
    }

    .mobile-screen .container {
        padding: 15px;
    }
}

/* Classe pour les tablettes en mode portrait (jusqu'à 768px) */
@media (max-width: 768px) {
    body.tablet-portrait {
        font-size: 18px;
        background-color: #8b1111;
    }

    .tablet-portrait .container {
        padding: 20px;
    }
}

/* Classe pour les ordinateurs portables standards (jusqu'à 1280px) */
@media (max-width: 1280px) {
    body.laptop {
        font-size: 22px;
        background-color: #91c48c;
    }

    .laptop .container {
        padding: 30px;
    }
}